*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}
body{
  background-color: rgb(243, 242, 242);
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app_header{
  display: flex;
  justify-content: space-between;
  
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  
}
.app__left{
  flex: 0.9;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}
@media(max-width:990px){
  .app{
    flex-direction: column;
    
    
  }
}